/*.slider-box {*/
    /*width: 100%;*/
/*}*/
/*.slide {*/
    /*width: 250px;*/
    /*height: auto;*/
/*}*/


.slider-title {
    font-size: 24px;
}
.slider-title span {
    color: #4fc9f3;
}
.slider-text,
.slider-prise {
    display: block;
    font-size: 13px;
    text-transform: capitalize;
}
.slider-text {
    color: #111017;
}
.slider-prise a {
    color: #0bb1e8;
    text-decoration: none;
    padding-top: 20px;
    padding-right: 20px;
    display: inline-block;
    background: url(../image/chevron.gif) 98% 25px no-repeat;
    background-size: 5px 5px;
}
/*!*.slick-prev:after {*!*/
    /*!*left: -42px;*!*/
/*}*/
.slick-next:after {
    right: -24px;
    background-position: -14px 0;
}
@media screen and (min-width: 600px) {

}
@media screen and (min-width: 900px) {
    .slider-box {
        width: 100%;
        max-width: 940px;
        margin: 0 auto;
    }
    .slider-prise a {
        padding-top: 20px;
        padding-right: 20px;
        display: inline-block;
        background: url(../image/chevron.gif) 98% 25px no-repeat;
        background-size: 5px 5px;
    }
}